<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>GroupMe Counter</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- vendor styles -->
  <link rel="stylesheet" href="/css/vendor/bootstrap/bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <!-- custom styles -->
  <!--<link rel="stylesheet" href="/css/home.css">   -->

  <!-- vendor libs -->
  <script src="/js/vendor/jquery/jquery-1.11.1.min.js"></script>
  <script src="/js/vendor/jquery-ui/jquery-ui.min.js"></script>
  <script src="/js/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="/js/vendor/angular/angular.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

  <!-- custom js -->
  <script src="/js/client.js"></script>

</head>

<body>
  <h1>Logged In!</h1>
</body>